<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sanqing.dao.MerchantCreditMapper" >
  <resultMap id="BaseResultMap" type="com.sanqing.entity.MerchantCredit" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="aid" property="aid" jdbcType="INTEGER" />
    <result column="action_id" property="actionId" jdbcType="VARCHAR" />
    <result column="action_status" property="actionStatus" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, aid, action_id, action_status, remark
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from merchant_credit
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from merchant_credit
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.sanqing.entity.MerchantCredit" >
    insert into merchant_credit (id, aid, action_id, 
      action_status, remark)
    values (#{id,jdbcType=INTEGER}, #{aid,jdbcType=INTEGER}, #{actionId,jdbcType=VARCHAR}, 
      #{actionStatus,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.sanqing.entity.MerchantCredit" >
    insert into merchant_credit
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="aid != null" >
        aid,
      </if>
      <if test="actionId != null" >
        action_id,
      </if>
      <if test="actionStatus != null" >
        action_status,
      </if>
      <if test="remark != null" >
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="aid != null" >
        #{aid,jdbcType=INTEGER},
      </if>
      <if test="actionId != null" >
        #{actionId,jdbcType=VARCHAR},
      </if>
      <if test="actionStatus != null" >
        #{actionStatus,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sanqing.entity.MerchantCredit" >
    update merchant_credit
    <set >
      <if test="aid != null" >
        aid = #{aid,jdbcType=INTEGER},
      </if>
      <if test="actionId != null" >
        action_id = #{actionId,jdbcType=VARCHAR},
      </if>
      <if test="actionStatus != null" >
        action_status = #{actionStatus,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sanqing.entity.MerchantCredit" >
    update merchant_credit
    set aid = #{aid,jdbcType=INTEGER},
      action_id = #{actionId,jdbcType=VARCHAR},
      action_status = #{actionStatus,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>